@charset "UTF-8";

body{
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
}

.header{
    height: 70px;
    background-color: black;
}

.wrap{
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
	/* 3. 메인축 정렬 : justify-content */
	justify-content: center;
}


.aside1{
    width: 550px;
    background-color: red;
 
}

.aside2{
    width: 550px;
    background-color: orange;
}

#map{
	z-index: 0;
    width: 100vw;
    height: 100vh;
}


.nav{
    width: 60px;
    position: fixed;
    top: 110px;
    right: 45px;
}

.category button{
	width: 58px;
	height: 53px;
	border: none;
	border-radius: 15px; 
	background-color: white;
}

/* 카테고리 버튼에 마우스를 올리면 색상 변경*/
.category button:hover{
	background-image: linear-gradient(195deg, #66BB6A 0%, #43A047 100%);
	cursor: pointer;
}

.category_btn{
	list-style-type: none;
	margin: -12px;
}

.category_btn  span{
	font-size: 10px;
	align-content: center;
}




