@charset "UTF-8";
/* 폰트 사용하기 */
@font-face {
    font-family: 'NEXONFootballGothicBA1';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXONFootballGothicBA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
}

/* 상단바 */
.header{
    height: 70px;
    background-color: white;
    display: flex;
    flex-direction: row;
    /*230303 추가*/
    width: 100%;
    position: absolute;
    flex-direction: row;
    z-index: 999;
}

/* 메뉴 버튼 */
.menu_btn{
	flex-basis:45%;
	display: flex;
	align-items: center;
}

#menu_button{
	background-color: transparent;
	border: none;
	color: #8ac926;
	cursor: pointer;
	/* 230303 추가 */
	position: relative;
    left: 20px;
    top: 2px;
}

#menu_close_button{
	background-color: transparent;
	border: none;
	color: #495057;
	cursor: pointer;
	/* 230303 추가 */
	position: relative;
    left: 20px;
    top: 2px;
}

/* 로고 */
.logo{
	flex-basis: 10%;
	display: flex;
    flex-direction: row;
	justify-content: center;
	align-items: center;
	font-family: 'NEXONFootballGothicBA1';
}

.logo div{
	width: 58px;
	height: 53px;
	border: none;
	border-radius: 15px; 
	background-image: linear-gradient(195deg, #8ac926 0%, #8ac926 100%);
	margin: 5px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: xx-large;

}

/* 검색창 */
.search{
	flex-basis:45%;
	display: flex;
    flex-direction: row;
	align-items: center;
	/* 230303 수정 */
    /* align-items: flex-end; */
    position: relative;
    left: 540px;
    top: 8px;
}

.search_txt {
  	width: 230px;
  	border: 1px solid #8ac926;
  	border-radius: 30px;
  	padding: 15px;
	padding-left : 25px;
  	font-size: 14px;
	margin-right: 10px;

}

.search_txt:focus{
	outline:2px solid #8ac926;
	}

.search_btn {
  position : absolute;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  top: 17px;
  right: 23px;
  border-color: #8ac926;
  background-color: white;
}

/* map 부분 */
.wrap{
    overflow: hidden;
    /*display: flex;*/
    flex-direction: row;
	/* 3. 메인축 정렬 : justify-content */
	justify-content: center;
}

/* 매물정보 리스트 */

.aside-wrap {
	display: flex;
    justify-content: space-between;
    /*border: 10px solid red;*/
    height: 100%;
    position: absolute;
    top: 0;
    padding-top: 70px;
    z-index: 90;
}

.aside1{
    width: 350px;
    background-color: white;
    overflow-y: auto;
 	display:none;
 	border: 2px solid #e5e5e5;
}

/* 매물 각각에 대한 자리 */
.items_div .items{
	width: 100%;
	/*background-color: white;*/
	border-color: #ccc;
	text-align: left;
	max-height: 100%;
	max-width: 100%;
	padding: 1px 3px 1px 3px
	/*line-height: 0.8em;*/
}
.items_div{
	/*width: 500px;*/
	/*display: flex;*/
	clear:both;
	/*padding: 25px 20px;*/
	padding: 5px 10px;
    border-bottom: 1px solid #ddd;
}


/* 아이템 버튼에 마우스를 올렸을 떄, 색상변경 */
.items_div:hover{
	background-color: #e5e5e5;
	cursor: pointer;
}

/* 아이템 버튼 클릭후 색상 유지 */
.items:focus{
	background-color:  #f2f8fd;
}

/* 상세화면 */
.aside2{
    width: 540px;
    background-color: white;
    overflow: auto;
    clear:both;
	/*visibility: hidden;*/
	display: none;
}

.aside2 div{
	text-align: right;
}

.close_btn{
	background-color: transparent;
	border: none;
	color: #495057;
	position: relative;
	z-index: 95;
	cursor: pointer;
	
}

.aside2 img{
	width: 100%;
	position: relative;
	top:-54px;
	padding-bottom: 22px;
	width: 523px;
	height: 349.375px;
}

table{
	position: relative;
	top: -60px;
	line-height:2;
	width: 95%;
	margin-left: auto; margin-right: auto;
	text-align: left;
}

table h2{
	margin-bottom: 0;
	
}

table p{
    color: #27c100;
    margin: 0;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}

th {
    border-bottom: 1px solid #e5e5e5;
    width: 110px;
	background-color: #fafafa;
  }

td {
    border-bottom: 1px solid #e5e5e5;
  }

/* map */
#map{
	z-index: 0;
    width: 100vw;
    height: 100vh;
}

/* 카테고리 버튼 */
.category_line{
    width: 60px;
    position: fixed;
    top: 110px;
    right: 45px;
    z-index: 100;
}

.category button{
	width: 58px;
	height: 53px;
	border: none;
	border-radius: 15px; 
	background-color: white;
}

/* 카테고리 버튼에 마우스 올리면 배경 색상, 글자 색상 변경 */
/* 매물의 경우 미리 켜져 있어야 되지 않을까,,? */
#rs_btn{
	color: #fff;
	background-color: #8ac926;
}

#rs_btn:hover{
	color: #fff;
	background-color: #8ac926;
	cursor: pointer;
}

	/* 편의점, 대형마트 */
#cs_btn:hover, #sm_btn:hover{
	color: #fff;
	background-color: #6a4c93;
	cursor: pointer;
}

	/* 병원, 약국 */
#hs_btn:hover, #ph_btn:hover{
	color: #fff;
	background-color: #ffca3a;
	cursor: pointer;
}

	/* 경찰서, 소방서, 자치센터 */
#ps_btn:hover, #fs_btn:hover, #cc_btn:hover{
	color: #fff;
	background-color: #ff595e;
	cursor: pointer;
}

	/* 영화관, 박물관, 전시관, 도서관 */
#cn_btn:hover, #ms_btn:hover, #ex_btn:hover, #lb_btn:hover{
	color: #fff;
	background-color: #1982c4;
	cursor: pointer;
}

#up_btn:hover, #down_btn:hover{
	color: #fff;
	background-color: #8ac926;
	cursor: pointer;
}

.category_btn{
	list-style-type: none;
	margin: -12px;
}

.category_btn  span{
	font-size: 10px;
	align-content: center;
}

.colorNo1 {
  background-color: #eef3fd;
  border: #6a4c93 solid 1px;
  border-radius: 5px;
  color: #7c4c93;
  font-size: 12px;
  font-weight: 500;
  height: auto;
  letter-spacing: -0.25px;
  margin-top: 6.8px;
  padding: 5px 11px;
  position: relative;
  width: fit-content;
  z-index: 100;
}


.colorNo1::after {
  border-color: #eef3fd transparent;
  border-style: solid;
  border-width: 8px 6px 0px 6.5px;  /* 상 우 하 좌*/
  content: '';
  display: block;
  left: 1px;
  position: absolute;
  bottom: -6.5px;
  width: 0;
  z-index: 1;
}

.colorNo1::before {
  border-color: #7689fd transparent;
  border-style: solid;
  border-width: 8px 6px 0px 6.5px;;
  content: '';
  display: block;
  left: 1px;
  position: absolute;
  bottom: -8px;
  width: 0;
  z-index: 0;
}

.colorNo2 {
  background-color: #fff3d4;
  border: #ffca3a solid 1px;
  border-radius: 5px;
  color: #ffc011;
  font-size: 12px;
  font-weight: 500;
  height: auto;
  letter-spacing: -0.25px;
  margin-top: 6.8px;
  padding: 5px 11px;
  position: relative;
  width: fit-content;
  z-index: 100;
}


.colorNo2::after {
  border-color: #fff3d4 transparent;
  border-style: solid;
  border-width: 8px 6px 0px 6.5px;  /* 상 우 하 좌*/
  content: '';
  display: block;
  left: 1px;
  position: absolute;
  bottom: -6.5px;
  width: 0;
  z-index: 1;
}

.colorNo2::before {
  border-color: #ffdf87 transparent;
  border-style: solid;
  border-width: 8px 6px 0px 6.5px;;
  content: '';
  display: block;
  left: 1px;
  position: absolute;
  bottom: -8px;
  width: 0;
  z-index: 0;
}

.colorNo3 {
  background-color: #ffd9da;
  border: #ff595e solid 1px;
  border-radius: 5px;
  color: #ff262d;
  font-size: 12px;
  font-weight: 500;
  height: auto;
  letter-spacing: -0.25px;
  margin-top: 6.8px;
  padding: 5px 11px;
  position: relative;
  width: fit-content;
  z-index: 100;
}


.colorNo3::after {
  border-color: #ffd9da transparent;
  border-style: solid;
  border-width: 8px 6px 0px 6.5px;  /* 상 우 하 좌*/
  content: '';
  display: block;
  left: 1px;
  position: absolute;
  bottom: -6.5px;
  width: 0;
  z-index: 1;
}

.colorNo3::before {
  border-color: #ff8c8f transparent;
  border-style: solid;
  border-width: 8px 6px 0px 6.5px;;
  content: '';
  display: block;
  left: 1px;
  position: absolute;
  bottom: -8px;
  width: 0;
  z-index: 0;
}

.colorNo4 {
  background-color: #cbe7f9;
  border: #1982c4 solid 1px;
  border-radius: 5px;
  color: #105580;
  font-size: 12px;
  font-weight: 500;
  height: auto;
  letter-spacing: -0.25px;
  margin-top: 6.8px;
  padding: 5px 11px;
  position: relative;
  width: fit-content;
  z-index: 100;
}


.colorNo4::after {
  border-color: #cbe7f9 transparent;
  border-style: solid;
  border-width: 8px 6px 0px 6.5px;  /* 상 우 하 좌*/
  content: '';
  display: block;
  left: 1px;
  position: absolute;
  bottom: -6.5px;
  width: 0;
  z-index: 1;
}

.colorNo4::before {
  border-color: #43a8e7 transparent;
  border-style: solid;
  border-width: 8px 6px 0px 6.5px;;
  content: '';
  display: block;
  left: 1px;
  position: absolute;
  bottom: -8px;
  width: 0;
  z-index: 0;
}

a{
	color: var(#344767);
	text-decoration: none;
}

.line{
	line-height: 5px;
	color: #666;
}

/*
.h2, .h3{
	margin:0px 0px 0px 0px;
	line-height: 1;
	margin-bottom: 0;
}
*/

.title {
	color: #222;
	font-size: 25px;
	overflow: hidden;  		
  	text-overflow: ellipsis;  	 
  	white-space: nowrap; 		
  	word-break:break-all;
  	width: 300px;
  /*height: 20px;*/
}

.price {
	font-size: 20px;
	color: #27c100;
}

.text {
	display: inline-block;
	font-size: 18px;
	color: #666;
	margin-bottom: 10px;
}

#loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 5px solid #4CAF50;
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}