<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="com.smhrd.database.MainMapper">
	
	<!-- 인프라 테이블 튜플 카운트 -->
	<select id="InfraCnt" parameterType="String" resultType="int">
		SELECT COUNT(*)
		  FROM ${table}
	</select>
	
	<!-- 매물 테이블 전세/월세 카운트 -->
	<select id="RSCnt" parameterType="String" resultType="int">
		SELECT COUNT(*)
		  FROM GJ_RS
		 WHERE RS_CR = #{rs}	
	</select>
		
	<select id="ofctCnt" parameterType="Map" resultType="int">
		SELECT COUNT(*)
		  FROM GJ_DEAL_OFCT
		 WHERE deal_year = #{year}
		   AND deal_month = #{month}
	</select>
	
	<select id = "MouseoverCnt" parameterType="com.smhrd.model.VO.MainVO" resultType="int">
		SELECT COUNT(*)
		  FROM ${table}
		 WHERE ADDR LIKE '%'||#{gu_name}||'%'
	</select>
	
</mapper>