<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="com.smhrd.database.MainMapper">
	
	<!-- 인프라 테이블 튜플 카운트 -->
	<select id="InfraCnt" parameterType="String" resultType="int">
		SELECT COUNT(*)
		  FROM ${table}
	</select>
	
	<!-- 매물 테이블 전세/월세 카운트 -->
	<select id="RSCnt" parameterType="String" resultType="int">
		SELECT COUNT(*)
		  FROM GJ_RS
		 WHERE RS_CR = #{rs}	
	</select>
	
	<!-- 지도 마우스오버 인프라 컬럼 카운트 -->
	<select id = "MouseoverCnt" parameterType="com.smhrd.model.VO.MainVO" resultType="int">
		SELECT COUNT(*)
		  FROM ${table}
		 WHERE ADDR LIKE '%'||#{gu_name}||'%'
	</select>
	
	<!-- 지도 마우스오버 매물 컬럼 카운트 -->
	<select id ="MouseoverRsCnt" parameterType="com.smhrd.model.VO.MainVO" resultType="int">
		SELECT COUNT(*)
		  FROM GJ_RS
		 WHERE RS_CR = #{table}
		   AND RS_ADDR LIKE '%'||#{gu_name}||'%'
	</select>
	
	<!-- 인프라 컬럼 클릭 지도 마커 좌표 -->
	<select id = "MainMarker" parameterType="String" resultType="com.smhrd.model.VO.MainVO">
		SELECT LAT, LNG
		  FROM ${table}
	</select>
	
	<!-- 월별 전월세 수량 -->	
	<select id="dealCnt" parameterType="Map" resultType="int">
		SELECT COUNT(*)
		  FROM ${tb_nm}
		 WHERE DEAL_YEAR = #{year}
		   AND DEAL_MONTH = #{month}
		   AND DEAL_PR ${mon_jeon} 0
	</select>
	
	<!-- 월별 줜월세 평균가 -->
	<select id="dealAvg" parameterType="Map" resultType="double">
		SELECT AVG(${mon_jeon_avg})
		  FROM ${tb_nm}
		 WHERE DEAL_YEAR = #{year}
		   AND DEAL_MONTH = #{month}
		   AND DEAL_PR ${mon_jeon} 0
	</select>
	
	<!-- 구별 1년 줜월세 수량 -->
	<select id="dealGuCnt" parameterType="Map" resultType="int">
		SELECT COUNT(*)
		  FROM ${tb_nm}
		 WHERE DEAL_YEAR = #{year}
		   AND DEAL_PR ${mon_jeon} 0
		   ANd GU = #{gu}
	</select>
	
	<!-- 구별 1년 줜월세 평균가 -->
	<select id="dealGuAvg" parameterType="Map" resultType="double">
		SELECT AVG(${mon_jeon_avg})
		  FROM ${tb_nm}
		 WHERE DEAL_YEAR = #{year}
		   AND DEAL_PR ${mon_jeon} 0
		   ANd GU = #{gu}
	</select>
	
	<!-- 동 검색 select 옵션 추가 -->
	<select id="SearchDong" parameterType="String" resultType="com.smhrd.model.VO.GWANGJU_DONG_VO">
		SELECT CORTARNO, DONG
		  FROM GWANGJU_DONG
		 WHERE ADDR = #{gu_name}
		 ORDER BY DONG
	</select>
	
	<!-- 메인 맵 클릭 시 구 cortarNo 가져오기 -->
	<select id ="MainMapClick" parameterType="String" resultType="long">
		SELECT CORTARNO
		  FROM GWANGJU_GU
		 WHERE GU = #{name}
	</select>
	
		<!-- 지역번호로 동 검색 -->
	<select id="DongSelectOne" parameterType="long" resultType="com.smhrd.model.VO.GWANGJU_DONG_VO">
		SELECT *
		  FROM GWANGJU_DONG
		 WHERE CORTARNO = #{cortarno}
	</select>
	
</mapper>