<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="com.smhrd.database.MapMapper">
	
	<select id="selectGJ_CC" resultType="com.smhrd.model.VO.GJ_CC_VO">
		select * from gj_cc
	</select>
	
	<select id="selectGJ_CN" resultType="com.smhrd.model.VO.GJ_CN_VO">
		select * from gj_cn
	</select>
	
	<select id="selectGJ_CS" resultType="com.smhrd.model.VO.GJ_CS_VO">
		select * from gj_cs
	</select>
	
	<select id="selectGJ_DEAL_OFST" resultType="com.smhrd.model.VO.GJ_DEAL_OFST_VO">
		select * from gj_deal_ofst
	</select>
	
	<select id="selectGJ_EX" resultType="com.smhrd.model.VO.GJ_EX_VO">
		select * from gj_ex
	</select>
	
	<select id="selectGJ_FS" resultType="com.smhrd.model.VO.GJ_FS_VO">
		select * from gj_fs
	</select>
	
	<select id="selectGJ_HS" resultType="com.smhrd.model.VO.GJ_HS_VO">
		select * from gj_hs
	</select>
	
	<select id="selectGJ_METRO" resultType="com.smhrd.model.VO.GJ_METRO_VO">
		select * from gj_metro
	</select>
	
	<select id="selectGJ_MS" resultType="com.smhrd.model.VO.GJ_MS_VO">
		select * from gj_ms
	</select>
	
	<select id="selectGJ_PH" resultType="com.smhrd.model.VO.GJ_PH_VO">
		select * from gj_ph
	</select>
	
	<select id="selectGJ_PS" resultType="com.smhrd.model.VO.GJ_PS_VO">
		select * from gj_ps
	</select>
	
	<select id="selectGJ_RS" resultType="com.smhrd.model.VO.GJ_RS_VO">
		select * from gj_rs
	</select>
	
	<select id="selectGJ_SM" resultType="com.smhrd.model.VO.GJ_SM_VO">
		select * from gj_sm
	</select>
	
	<select id="selectGJ_LB" resultType="com.smhrd.model.VO.GJ_LB_VO">
		select * from gj_lb
	</select>
	
	<select id="selectGWANGJU_DONG" resultType="com.smhrd.model.VO.GWANGJU_DONG_VO" parameterType="Long">
		select * from gwangju_dong where cortarNo = #{cortarno}
	</select>
	
	<select id="selectGWANGJU_GU" resultType="com.smhrd.model.VO.GWANGJU_GU_VO" parameterType="Long">
		select * from gwangju_gu where cortarNo = #{cortarno}
	</select>
	
</mapper>